body {
    background-image: url(img/background.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: center top;
    text-align: center;   
}



.contenitoretrasparente{
    background-color: rgba(0,0,0,0.5);
    width: 1000px;
    height: 700px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    }

.immaginelogo{
    width: 180px;
}

.scrittalogo{
    color: rgb(0,221,0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.testa{
    margin-top: 90px;
}

.barraconbottoni{
    background-color: rgb(0,221,0);
    padding: 8px;
    width: 800px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.sezione{
    text-align: left;
    margin-left: 90px;
}

.barragialla{
    background-color: rgb(245,180,83);
    width: 300px;
    height: 25px;
    border-radius: 5px;
}

.barraverde{
    background-color: rgb(30,195,30);
    width: 450px;
    height: 25px;
    border-radius: 5px;
}

.barrarossa{
    background-color: rgb(190,65,65);
    width: 150px;
    height: 25px;
    border-radius: 5px;
}

.monopattino{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.distanza{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight:normal;
}

.carica{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    font-weight:normal;    
}

.scelta{
    margin-top: 30px;
}